$startup-gradient: linear-gradient(to right, #55C2FA, #769CF1);
$startup-color: #55C2FA;

$pyme-gradient: linear-gradient(to right, #38B9C6, #2294BE);
$pyme-color: #38B9C6;

$profesional-gradient: linear-gradient(to right, #FFA666, #FF8082);
$profesional-color: #FFA666
